.elementor-widget-miqid_elementor_widget_input .wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.elementor-widget-miqid_elementor_widget_input .wrapper input {
  flex: 1;
}
.elementor-widget-miqid_elementor_widget_input .wrapper.horizontal {
  flex-direction: column;
  align-items: start;
  column-gap: normal;
  row-gap: 5px;
}
.elementor-widget-miqid_elementor_widget_input .wrapper.horizontal label {
  width: 100% !important;
}
